<div class="starter-template">
  <h1>Contact list </h1>
  <p class="lead">All the people around you in one place. Invite people to join us.</p>
</div>

<% @people.each do |person | %>
  <%= render person %>
<% end %>