<div class="starter-template">
  <h1>Add your info </h1>
</div>
<div class="row">
  <div class="panel panel-default people">
    <div class="panel-body">
      <%= render 'form' %>
    </div>
  </div>
</div>


